{% extends 'base.html' %}

{% block content %}
    <div class="inner">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">配置信息</h3>
            </div>
            <form action="" method="post">
                <div class="panel-body">
                    <div class="form-horizontal">
                    {% csrf_token %}
                            {% for i in form_obj %}
                                <div class="form-group">
                                    <label for="{{ i.id_for_label }}"
                                           class="col-md-4 control-label">{{ i.label }}:</label>
                                    <div class="col-md-8">
                                        {{ i }}
                                        <p id="errors">{{ i.errors.0 }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="保存">
                <a href="/" id="return_key" class="retreat btn btn-default text-center btn-block">返回</a>
                </div>
            </form>
        </div>
    </div>

    <script>
            $(':input').mousedown(function () {
            $(this).next().text('')
        })
    </script>

{% endblock %}