{% extends 'base.html' %}

{% block content %}
    <div class="inner">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">状态列表  <span class="bg-info">{{ device_id }}</span></h3>

            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                {% if status_list %}
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>powersupply</th>
                            <th>network</th>
                            <th>devicetime</th>
                            <th>storage</th>
                            <th>wifi_db</th>
                        </tr>
                        {% for status_dic in status_list %}
                                <tr>
                                    <td>{{ status_dic.powersupply }}</td>
                                    <td>{{ status_dic.network }}</td>
                                    <td>{{ status_dic.devicetime }}</td>
                                    <td>{{ status_dic.storage }}</td>
                                    <td>{{ status_dic.wifi_db }}</td>
                                </tr>
                        {% endfor %}
                    </table>
                {% else %}
                             <h2 class="text-center">暂无状态信息</h2>
                {% endif %}
                </div>
                <a href="/" id="return_key" class="retreat btn btn-success text-center btn-block">返回</a>
            </div>
        </div>
    </div>



{% endblock %}